.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.signup-form label {
  display: block;
  margin: 30px auto;
}
.signup-form h2 {
  text-align: center;
}
.signup-form span {
  display: block;
  margin-bottom: 6px;
}
.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}

@media only screen and (max-width: 1025px) {
  .signup-form h2  {
    font-size: 60px;
  }
  .signup-form span{
    font-size: 40px;
  }
  .signup-form input {
    padding: 11px 15px;
  }
  .signup-form button {
    font-size: 50px;
  }
}
